.section-productData {
  .container {
    margin: 0 auto;
  }

  .grid-three-cols {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 2.5rem;
  }

  h2 {
    margin-top: 3px;
    font-size: 30px;
    font-family: Courier New, monospace;
  }

  .main-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  .Pname {
    justify-content: center;
  }

  .card {
    border: 1px solid aqua;
    padding: 1rem;
    cursor: pointer;
    width: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
  }

  .card-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .card-details {
    padding: 0 1rem;
  }

  img {
    height: 250px;
    width: 100%;
    object-fit: cover;
  }

  .title {
    font-size: large;
    margin-bottom: 0.5rem;
  }

  .desc {
    font-size: medium;
    overflow: hidden;
    margin-bottom: 0.5rem;
  }

  .no-products-message h2 {
    text-align: center;
  }
}

.addProductButton {
  margin-top: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5rem;
}
